<!-- C\Code\mysite\elections\templates\elections\index.html -->
<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
  <title>test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <li><a href = "{% static 'Supplementary Table 1.xlsx' %}"> Supplementary table</a></li>
  
</head>
<body>
<div class="container">
  <label>TEST<br/>
  </label>





{% block content %}
<div id = "left">
    <h4>Human transcription factor binding site prediction</h4>
    <form action="{% url 'home_site:form_function' %}" method="post">
	{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}




</body>